.header {
	display: flex;
	justify-content: center;
	border-bottom: 1px solid lightgray;
}

.btnContainer {
	display: flex;
	justify-content: flex-end;
	flex: 1
}

.title {
	font-family: Helvetica Neue, Helvetica, Arial, sans-serif;
	margin: 0px;
	font-size: 20px;
}

.right {
	flex: 1
}

.svgButton {
	height: 30px;
	display: block;
	margin-bottom: 2px;
	outline: none;
}

.chartContainer{
	padding: 20px;
}
